# Welcome to Jekyll!
# Academic Pages configuration for mnsahvelet.github.io

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"   # "default", "air", "sunrise", "mint", "dirt", "contrast"
title                    : "Muhammed N. Sahvelet"
title_separator          : "-"
name                     : &name "Muhammed N. Sahvelet"
description              : &description "PhD student in Hydraulics and Hydrology at Purdue University. Research interests include nearshore wave transformation, longshore sediment transport, and coastal modeling."

url                      : "https://mnsahvelet.github.io"
baseurl                  : ""
repository               : "mnsahvelet/mnsahvelet.github.io"

# Site Author (sidebar)
author:
  avatar           : "profile.png"   # put your image in /images/profile.png
  name             : "Muhammed N. Sahvelet"
  pronouns         : "he/him"
  bio              : "PhD student, Hydraulics and Hydrology, Purdue University. Nearshore waves, longshore sediment transport, coastal processes."
  location         : "West Lafayette, IN, USA"
  employer         : "Purdue University"
  uri              :
  email            : "msahvele@purdue.edu"

  # Academic websites (add later if you want)
  academia         :
  arxiv            :
  googlescholar    :
  inspire-hep      :
  impactstory      :
  orcid            :
  semantic         :
  ssrn             :
  pubmed           :
  researchgate     :
  scopus           :
  zotero           :

  # Code and software
  github           : "mnsahvelet"
  bitbucket        :
  codepen          :
  dribbble         :
  kaggle           :
  stackoverflow    :

  # Social media (optional)
  bluesky          :
  facebook         :
  flickr           :
  instagram        :
  linkedin         :
  mastodon         :
  medium           :
  pinterest        :
  soundcloud       :
  telegram         :
  tumblr           :
  twitter          :
  weibo            :
  wikipedia        :
  xing             :
  youtube          :
  zhihu            :

# Publication categories
publication_category:
  books:
    title: "Books"
  manuscripts:
    title: "Journal Articles"
  conferences:
    title: "Conference Papers"

# Site Settings
teaser                   :
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

comments:
  provider               :

atom_feed:
  hide                   : false
  path                   :

# SEO
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :
og_description           :
social:
  type                   :
  name                   :
  links:

# Analytics
analytics:
  provider               : "false"
  google:
    tracking_id          :

# Reading Files
include:
  - .htaccess
  - _pages
  - files

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor

keep_files:
  - .git
  - .svn

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true

  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true

  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true

  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true

  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Output
permalink: /:categories/:title/
timezone: "America/Indiana/Indianapolis"

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML compression
compress_html:
  clippings: all
  ignore:
    envs: development
